.titulo__contacto {
    font-size: 4.3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
    color: rgb(67, 64, 62);
    padding: 40px;  }
    
    .formulario__contacto {
    padding: 20px;
    background-color:rgb(187, 167, 167);}