@import "vars";
@import "header";
@import "footer";
@import "galeria";
@import "ubicacion"

* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;

 .container { 
        display: grid; 
        grid-template-columns: 1.2fr 0.8fr; 
        grid-template-rows: 0.5fr 2fr 0.5fr; 
        gap: 2px 0px; 
        grid-template-areas: 
          "header header"
          "seccion aside"
          "footer footer";
         }
  
  .header { grid-area: header;}
  .header__logo { padding: 20px; justify-self: center;}
  .seccion { grid-area: seccion;
  }
  .aside { 
  grid-area: aside;
  color: rgb(67, 64, 62);
  font-family: 'Carrois Gothic SC', sans-serif;
  align-self: center;
  justify-items: center;}
       
  .aside__titulo {
        font-size: 3.8rem;
        font-weight: bold; }
  
  .aside__titulo2 {
  font-style: italic;
  line-height: 2rem;
  color: rgba(67, 64, 62, 0.718)
  }

  @media screen and (min-width: 480px) {
  
    .container { 
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr;  
        grid-template-areas: 
          "header"
          "aside"
          "seccion" 
           "footer";
        font-size: 1.2rem; 
        }  
    }
}