.titulo__ubicacion {
    font-size: 4.3rem;
    font-family: 'Carrois Gothic SC', sans-serif;
    text-align: center;
    color: rgb(67, 64, 62);
    padding: 40px;
    }
    .seccion__ubicacion {
    
    display: grid;
    justify-content: center;
    background-color: rgb(217, 199, 181);
    padding: 10px;
    margin-bottom: 20px;}
    
    .main__ubicacion{
    padding-bottom: 80 px;
    }
    .parrafo__ubicacion {
    color: rgba(42, 38, 35, 0.813) ;
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif; ;
    font-size: 1.2rem; 
    
    }
    .seccion__tarifas 
    .aside__ubicacion {
    font-family: sans-serif; 
    font-size: 1.2rem;
    text-align:center;
    color: rgba(121, 79, 51, 0.813);}